<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li>
          Toggle the displaying of that paragraph with the button created in the
          first step
        </li>
        <li>
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li>
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>

      <!-- Solution: -->
      <hr />
      <button class="btn btn-primary" (click)="toggleDetails(); onClick(val)">
        Display Details
      </button>

      <p *ngIf="displayDetails; else noDetails">
        Secret password = {{ secretPassword }}
      </p>
      <ng-template #noDetails><p>No details to display</p></ng-template>
      <p
        *ngFor="let val of buttonClicks; let i = index"
        [ngStyle]="{ backgroundColor: getColor(i) }"
        [ngClass]="{ 'white-text': i >= 4 }"
      >
        {{ val }}
      </p>
    </div>
  </div>
</div>
